.App {
  text-align: center;
}

.bg-gray {
  background-color: rgb(219, 212, 212);
  height: 38px;
  width: 27px;
}

.bg-gray-form {
  background-color: #bebebf;
}

.bg-gray-400 {
  background-color: #bebebf;
}

.text-gray-50:hover {
  color: #eaeaea;
}

.text-gray {
  color: #28282d;
}

.h-10 {
  height: 43px;
}

.h-5 {
  margin: 11px;
  height: 29px;
  width: 30px
}

.rounded-full {
  border-radius: 1.5rem;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 25%);
  border-radius: 1rem;
}

.login-margin {
  margin: 20px;
}

.form-signin {
  margin: 5px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
